spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/assessment_reporting
    username: reporting_user
    password: reporting_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: false
